.todo-item {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #337ab7;
    margin: 0 auto 10px;
    line-height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    box-shadow: 1px 1px 5px #337ab7;
}

.todo-item input {
    margin-right: 10px;
    margin-top: 0;
}

.todo-item input:focus {
    outline: none;
}

.todo-item label {
    margin-bottom: 0;
}

.todo-item button {
    margin-left: auto;
    margin-right: 10px;
}

.done {
    text-decoration: line-through;
}